* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}


/* menu / navegação */
header nav{
    width: 100vw;
    height: 12vh;
    background-color: black;
}

header nav ul{
    width: 80%;
    height: 100%;
    margin-left: auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    width: 190px;
    height: 70px;
    margin-right: 20px;

    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(36, 161, 193);

    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
    font-weight: bold;
}

/* quando o cursor passa em cima do elemento */
header nav ul li:hover{
    background-color: rgb(36, 161, 193);
    cursor: pointer;
    color:rgb(255, 255, 255);
    font-weight: bolder;
}

#menu li a:hover {
    background-color: rgb(36, 161, 193);
    color: white;
    font-weight: bolder;
}

#menu li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#sobre{
    width: 100%;
    min-height: 900px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 50px;

}

.logo-topo {
    position: relative;
    width: 100%;
    text-align: center;
}
  
.logo-topo img {
    height: 200px;
    max-width: 100%;
}
  

#imagem-texto{
    background-image: url(./images/imagem_texto.jpg);
    width: 30%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sobre div{
    width: 100%;
}

.azul {
    color: rgb(36, 161, 193);
}

#sobre h2 {
    width: 100%;
    height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);

    font-size: 2.3rem;
    padding: 20px 40px;
    font-weight: bold;
    margin: 0 0 50px auto;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 7px;
}

#sobre div p{
    width: 100%;
    min-height: 50px;

    font-size: 1.6em;
    line-height: 1.9;
    margin: 10 20px auto;
    padding: 20px;
    text-align: justify;
    color: rgb(36, 161, 193);
    letter-spacing: 2px;
}


/* Campo da pesquisa e botão */
#options-section {
    width: 100%;
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
  
.filters {
    width: 100%;
}
  
.filter {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid #2196f3;
    border-radius: 8px;
    outline: none;
    transition: 0.3s ease;
    background-color: #fff;
}
  
.filter:focus {
    border-color: #0d8bf2;
    box-shadow: 0 0 6px rgba(33, 150, 243, 0.5);
}
  
#load {
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: rgb(36, 161, 193);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    text-transform: uppercase;
}
  
#load:hover {
    background-color: rgb(11, 101, 174);
}

#personagens{
    width: 100%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    font-size: 1.5rem;
    padding: 20px 40px;
    font-weight: bold;
    margin: 0 0 50px auto;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 7px;
}


/* Cards */
.card {
    background-color: rgb(0, 0, 0);
    width: 300px;
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border;
    overflow: hidden; 

    padding: 10px;
    text-align: center;
    font-family: 'montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .cards {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 15px;
}

.container--cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px; 
    padding: 40px;
}

.card-name {
    font-size: 0.9em;
    margin-bottom: 15px;
    color: #ffffff;

    letter-spacing: 2px;
}

.heart{
    color: red;
    font-size: 1.5em;
    font-weight: normal;

    padding-bottom: 25px;  
}


.card-image {
    width: 260px; 
    height: 200px;

    margin-left: 5px;
    margin-bottom: 10%;
    border-radius: 5%;
}

.card-text {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 100%; 

    font-size: 0.5em;
    color: #ffffff;
    font-family:'montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    line-height: 2.7;
    letter-spacing: 3px;
}  

.cor-subtitulo{
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0),0 0 20px rgb(0, 0, 0);
}

.footer {
    background-color: rgb(36, 161, 193); 
    color: #ffffff; 
    padding: 5px 0;
    text-align: center;
    font-size: 14px;
}